/* Styles */

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	background: #fff;
	min-height: 100vh;
	min-width: 100vw;
}

#message {
	font-family: "helvatica", sans-serif;
	font-size: 2.5rem;
	text-align: center;
}

#sub-message {
	font-size: 1.5em;
	text-align: center;
}

#full-page-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background: #000;
}

footer div:nth-of-type(1) {
	position: absolute;
	top: 1em;
	right: 1em;
}
footer div:nth-of-type(2) {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

#warnings {
	position: absolute;
	z-index: 50;
	height: 100vh;
	width: 100vw;
	background: lightcyan;
}

#warning-text {
	width: 400px;
	text-align: justify;
	position: absolute;
	top: 3em;
	background: rgb(82, 150, 167);
	padding: 1.5em;
	left: calc(50vw - 200px);
	box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

#warning-text p {
	position: relative;
	line-height: 1.5em;
}

#warning-button {
	display: block;
	margin: 2em auto;
	text-align: center;
	background: #777;
	color: #fff;
	border: 0;
	padding: 1em;
	font-weight: bold;
}

.lds-ellipsis {
	display: inline-block;
	position: absolute;
	width: 64px;
	height: 64px;
	top: calc(50vh - 32px);
	left: calc(50vw - 32px);
}
.lds-ellipsis div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}
