@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{  
    color: black;
    font-size: 1.4rem;
    font-weight:300 ;
    margin-top: 5px;
    letter-spacing: 0.05rem;
    line-height: 2.5rem;
}
 .section-title{
    font-size: 4rem;
    font-weight: lighter;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;
}
 .section-title span{
    color: crimson;
}
 .cta{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
}
 .cta:hover{
    background-color:crimson;
    color: white;
}
.brand h1{
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}
.brand h1 span {
    color: crimson;
}
/* header section */


#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: auto;
    width: 100vw;
}
#header .header{
    min-height: 8vh;
    background-color:rgba(31, 30, 30, 0.24) ;
    transition: .3s ease background-color;
}
#header .nav-bar{
    display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
}
#header .nav-list ul{
    position: absolute;
    background-color:rgb(31, 30, 30) ;
    list-style: none;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-direction: column;
    overflow: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    display: block;
    letter-spacing: .25rem;
    padding: 20px;
    text-transform: uppercase;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    color:rgba(240, 248, 255, 0.021) ;
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing ;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: crimson;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    border: 3px solid white;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger .bar{
    height: 2px;
    width:30px ;
    background-color: white;
    z-index: -1;
    position: relative;
}
#header .hamburger::after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    transition: .3s ease;
    transition-property: top,bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

/* end header section */

/* hero section */
#hero{
    background-image: url(hero-bg.png);
    background-size: cover;
    background-position:top center ;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;

}
#hero .hero{
    max-width: 1200px;
   
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
   
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}

/* End hero section */

/* service section */

#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    padding: 100px 0; 
    margin: 0 auto;
}

#services .section-title span{
    color: crimson;
}
#services .service-top p{
    font-size: 1.4rem;
     font-weight:300 ;
     margin-top: 5px;
     letter-spacing: 0.05rem;
     line-height: 2.5rem;
}
#services .service-bottom{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#services .service-item{
display: flex;
flex-basis: 80%;
background-image: url(graphic.png);
background-size: cover;
padding: 30px;
align-items: flex-start;
flex-direction: column;
text-align: center;
justify-content: center;
margin: 10px 5%;
border-radius: 10px;
position: relative;
z-index: 1;
overflow: hidden;
}
#services .service-item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 118, 177, 0.623);
    opacity: .8;
    z-index: -1;
}
#services .service-top .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}
#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}
#services .service-item p{
    color: white;
    text-align: left;
}

/* end service section */


/* projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(236, 25, 67, 0.808);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(219, 54, 87);
	opacity: 0.3;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

/* end of project section */

/* About section */
#about .about{
    flex-direction: column-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
}
#about .col-left{
    width: 240px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 550;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
margin-bottom: 20px;
}
#about .col-right .cta{
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img{
    position: relative;
    border: 10px solid white;
    height: 100%;
    width: 100%;
    
}
#about .col-left .about-img::after{
    content: '';
    top: 19px;
    left: -33px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    position: absolute;
    z-index: -1;
}

/* end about section */
/* contact section */
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    
}
#contact .contact-items{
    width: 80%;
}
#contact .contact-item{
    width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/* end contact section */

/* footer section */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* end footer */
/* keyframe */
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}
@keyframes text_reveal_box{
50%{
    width: 100%;
    left: 0;
}
100%{
    width: 0;
    left: 100%;
}
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: bolder;
    }
    
}
/* end keyframes */
/* media query for tablet */
@media only screen and (min-width: 768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 5.6rem;
    }
    /* hero section */
#hero h1{
    font-size: 6rem;
}
/* end hero */
/* service section */
#services .service-bottom .service-item{
    flex-basis: 45%;
    margin: 2.5%;
}
/* end service section */
/* peoject section */
#projects .project-item{
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 400px;
    border-radius: 0;
}
#projects .project-item:nth-child(even){
    flex-direction: row-reverse;
}
#projects .all-projects .project-info{
    height: 100%;
}
#projects .all-projects .project-img{
    height: 100%;
}
/* end peoject section */
/* about section */
#about .about{
    flex-direction: row;
}
#about .col-left{
    width: 600px;
    height: 400px;
    padding-left: 60px;
}
#about .about .col-left .about-img::after{
    content: '';
    left: -45px;
    top: 35px;
    width: 98%;
    height: 95%;
    border: 10px solid crimson;
    
}
#about .col-right{
    text-align: left;
    padding: 30px;
}
#about .col-right h1{
    text-align: left;
}
/* end about section */
/* contact section */
#contact .contact{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}
#contact .contact-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
}
#contact .contact-item{
    flex-direction: row;
    width: 30%;
   margin: 10px;
   
}
#contact .contact-item .icon{
    width: 100px;
    height: 100px;
}
#contact .contact-item .icon img{
    object-fit: contain;
}
#contact .contact-item .contact-info{
    text-align: left;
    width: 100px;
    
}
/* end contact section */
}
/* end of media query for tablet */
/* media query for desktop */
@media only screen and (min-width:1200px){

    /* service section */
   #services .service-bottom .service-item{
       flex-basis: 26%;
       margin: 2.5%;
   }     
    /*end service section */
#header .hamburger{
    display: none;
}
#header .nav-list ul{
    position: initial;
    height: auto;
    width: fit-content;
    background-color: transparent;
    display: block;
}
#header .nav-list ul li{
    display: inline-block;
}
#header .nav-list ul a::after{
    display: none;
}
#header .nav-list ul li a{
    font-size: 1.8rem;
}
}

/* end media query for desktop */